/* You can add global styles to this file, and also import other style files */

/*resize the game */

.game-container canvas {
  max-height: 100vh;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.game-container {
  display: flex;
  width: 100%;
  max-height: 100vh;
}
