/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*resize the game */

.game-container canvas {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.game-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

// Modal

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

// Tower Menu

.tower-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.tower-infos{
  
}
